.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo-title {
    color: black !important;
    font-family: "Hammersmith One", sans-serif;
    font-size: 40px;
}

.sherb-green {
    color: #62a067;
}

.navbar-nav > a > svg {
    font-size: 30px;
    color: #ffd700;
    border-right: lightgrey solid 2px;
}

.searchBar {
    border: #e8ecf0 1px solid;
    border-radius: 50px;
    padding: 10px;
    background-color: #e8ecf0;
}

.searchBar_form {
    background-color: #e8ecf0 !important;
    border: none !important;
    border-radius: 0% !important;
    margin-right: 10px !important;
    border-bottom: 2px solid #6e777f !important;
}

.searchBar > input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 2px #62a067 solid !important;
}

.searchBar > button {
    border: #e8ecf0 1px solid;
    border-radius: 60px;
}

*:focus {
    outline: none !important;
}

.dashboard {
    margin-top: 75px;
}

.post_container {
    border: #e8ecf0 1px solid;
    border-radius: 15px;
    padding: 10px !important;
    margin: 10px !important;
}

.post_picture {
    border-radius: 50%;
    border: #e8ecf0 1px solid;
    width: 60px;
    height: 60px;
}

.post_username {
    font-size: 20px;
    font-weight: bold;
}

.post_header_publicator {
    font-size: 14px;
    color: grey;
}

.post_header_pin {
  font-size: 24px;
  background-color: white;
  border: none;
  transform: rotate(45deg);
  border-radius: 50px;
  height: 49px;
  margin-right: 1px;
}

.post_body {
    margin: 10px !important;
}

.post_body_button {
    border: none;
    box-sizing: content-box;
    width: 100%;
    height: 3em;
}

.post_body_button_right {
    border-bottom-right-radius: 15px;
}

.post_body_button_left {
    border-bottom-left-radius: 15px;
}

.post_icon {
    color: white;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 12px;
    height: 20px;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    border: none;
}

.post_icon > span {
    font-weight: bold;
    margin: 2px;
}

.post_icon_like {
    background-color: #98ceee;
}

.post_icon_dislike {
    background-color: #f04441;
    padding-top: 2px;
}

.post_icon_reply {
    color: grey !important;
}

.post_see_more_comments {
    margin-left: 10px;
    font-size: 14px;
    color: grey;
    font-weight: bold;
    border: none;
    background-color: #e8ecf0;
}

.post_see_more_comments:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post_body_button:hover {
    background-color: lightblue;
}

.post_button_group {
    border-top: #e8ecf0 1px solid;
    padding: 10px;
}

.post_comment {
    border-radius: 20px;
    background-color: #e8ecf0;
    margin-right: 8px;
    padding: 10px;
}

.post_comment_left {
    width: 70px !important;
}

.post_comment_picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: #e8ecf0 1px solid;
}

.post_comment_username {
    font-size: 16px;
    font-weight: bold;
}

.post_comment_row {
    margin: 10px;
    margin-top: 10px !important;
}

.write_comment_container {
    height: 40px;
    border: none;
    border-radius: 25px;
    order: #e8ecf0 1px solid;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #e8ecf0;
}

.write_comment_container > button {
    border-radius: 50px;
    border: none;
    width: 38px;
    height: 38px;
}

.write_comment_textfield {
    border: none !important;
    background-color: #e8ecf0 !important;
    outline: none !important;
    border-radius: 25px !important;
}

.billboard {
    top: 85px !important;
}

.billboard_title {
  color: black !important;
  font-family: "Hammersmith One", sans-serif;
  font-size: 28px;
}

.billboard_postPin {
  font-size: 24px;
  border-radius: 50%;
  background-color: white;
  border: none;
  transform: rotate(315deg);
  height: 50px;
}

.billboard_username {
  font-size: 15px;
  font-weight: bold;
}

.date_post {
    font-size: 14px;
}

.billboard_picture {
  border-radius: 50%;
  border: #e8ecf0 1px solid;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
}

.favorisContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #ffd700;
  padding: 0px !important;
  margin: 0px !important;
  list-style: none;
}

.favoris_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  justify-content: space-evenly;

  list-style: none;
  border: #e8ecf0 1px solid;
  border-radius: 15px;
  padding: 10px !important;
  margin: 10px !important;
}

.favList_button {
    font-weight: bold;
    font-size: 20px;
    background-color: #62a067;
    border-radius: 15px;
    border: none;
    padding: 5px !important;
    margin: 5px !important;
}

.favoris_title {
  font-weight: bold;
  font-size: 15px;
  background-color: #ffd700;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin: 1px !important;
}

.trashList_button {
    font-weight: bold;
    font-size: 20px;
    background-color: #62a067;
    border-radius: 15px;
    border: none;
    padding: 5px !important;
    margin: 5px !important;
}

.subscribe_header {
    font-family: "Hammersmith One", sans-serif;
    font-size: 25px;
    background-color: #e8f0ebbd 1px solid;
    border-radius: 5px;
    border: none;
    padding: 5px !important;
    margin: 5px !important;
}

.subscribe_header_pinIcon {
    vertical-align: middle;
    font-size: 40px;
}
